html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    flex-flow: column;
}

kbd {
    background-color: #1e1e1ebf;
    padding: 2px 4px;
    border-radius: 3px;
    border: #303030 1px solid;
    margin: 3px;
}

button {
    background-color: #242424;
    padding: 0.5em 1em;
    color: #fff;
    border: 0;
}

button:hover {
    background-color: #303030;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #242424; 
}

::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}



.screen {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 100;
    overflow-y: scroll;
    box-sizing: border-box;
}

.screen.active {
    display: block;
}

.screen .close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 300;
}

.screen .help-text {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 50%;
}


#song-select-screen {
    background-color: #0000007f;
    padding: 0px;
}

#song-list {
    display: flex;
    flex-flow: column nowrap;
    float: right;

    width: 50%;
    min-width: 300px;
    max-width: 80%;
    padding: 10px;
    z-index: 100;
}

#song-list .collection-label {
    position: sticky;
    top: 0;
    
    --tile-color: rgb(64, 163, 209);

    background-image: linear-gradient(
        to right,
        var(--tile-color) 0%,
        var(--tile-color) 90%,
        transparent 100%
    );

    font-family: Electrolize, sans-serif;
    
    padding: 0;
    border-left: #fff solid 5px;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;

    margin-top: 10px;
    margin-left: -40px;
    transition-property: --tile-color, margin-left;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

#song-list .collection {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    margin: 10px 0;
}

#song-list .song {
    --tile-color: rgba(24, 26, 117, 0.75);

    background-image: linear-gradient(
        to right,
        var(--tile-color) 0%,
        var(--tile-color) 90%,
        transparent 100%
    );

    font-family: Electrolize, sans-serif;
    
    padding: 0;
    border-left: #fff solid 5px;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;

    margin-left: 0;
    transition-property: --tile-color, margin-left;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

#song-list .song.song-selected {
    --tile-color: rgba(23, 163, 98, 0.75);
}

#song-list .song:hover {
    --tile-color: rgba(233, 134, 22, 0.75);
    margin-left: -10px;
}

#song-list .title-label {
    padding: 5px 10px;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

#song-list .title-label > div + div {    
    max-width: max-content;
}

#song-list .title-label > div {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

#song-list .title {
    font-size: 18pt;
}

#song-list .artist {
    font-size: 12pt;
    color: #ccc;
}

#song-list .id {
    padding-right: 20px;
    color: #888;
    width: max-content;
}

#song-list .song .anchor {
    position: relative;
    top: -300px;
}

#song-list .song .difficulties {
    --diff-bg-color: #222;
    --diff-text-color: #fff;

    padding-top: 5px;
    display: flex;
    flex-flow: row nowrap;
}

#song-list .song .difficulties .difficulty {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 120px;
    height: 30px;
    padding: 5px;

    border-bottom: var(--diff-text-color) 0 solid;
    box-sizing: border-box;

    text-decoration: none;

    background-color: var(--diff-bg-color);
    color: var(--diff-text-color);

    transition: border-bottom-width 0.1s, border-bottom-color 0.2s;
}

#song-list .song .difficulties .difficulty.difficulty-selected {
    border-bottom-width: 4px;
    border-bottom-color: white;
}

#song-list .song .difficulties .difficulty:hover {
    border-bottom-width: 4px;
    border-bottom-color: var(--diff-text-color);
}

.difficulty.difficulty-0 {
    --diff-bg-color: #004;
    --diff-text-color: #44f;
}

.difficulty.difficulty-1 {
    --diff-bg-color: #400;
    --diff-text-color: #f00;
}

.difficulty.difficulty-2 {
    --diff-bg-color: #404;
    --diff-text-color: #f0f;
}

.difficulty.difficulty-3 {
    --diff-bg-color: #044;
    --diff-text-color: #0fc;
}

.difficulty.difficulty-4 {
    --diff-bg-color: #430;
    --diff-text-color: #fc0;
}

.difficulty.difficulty-5 {
    --diff-bg-color: #333;
    --diff-text-color: #aaa;
}

.difficulty.difficulty-6 {
    --diff-bg-color: #eee;
    --diff-text-color: #333;
}



#help-screen {
    background-color: #000000bf;
    padding: 20px;
}



#main {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

#toolbar {
    height: 3em;
    width: 100%;
    background-color: #1e1e1e;
    user-select: none;
}

#playfield-container {
    position: relative;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

#playfield {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: #000;
}
